.action-bar {
  .animated-container {
    overflow: hidden;
  }

  .page {
    display: flex;
    width: 100%;
  }

  .next-page,
  .previous-page {
    flex-shrink: 0;
    box-shadow: 0 1px 2px 1px rgba($black, 0.20);
    border-radius: 4px;
    height: calc(2rem + 2px);
    border-width: 2px;
    border-style: solid;
    border-color: rgba($accent, 0);
    padding: 0 0.1rem;
    line-height: 1.1rem;
    font-size: 13px;
    width: 2rem;
    transition-property: background, padding, box-shadow, color, border, border-color, transform;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.79, 0.14, 0.15, 0.86);
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
    background: $white;

    &.invisible {
      opacity: 0;
    }

    &:hover {
      box-shadow: 0 2px 4px 2px rgba($black, 0.2);
    }

    &:active {
      transform: translateY(1px);
      transition-duration: 80ms;
      border-color: $heather;
      box-shadow: 0 0 0 0 rgba($black, 0.2);
    }

    &:focus {
      outline: none;
      border-color: $accent;
    }

    svg {
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      transform: rotate(-90deg);
    }
  }

  .next-page {
    margin-left: 0.5rem;
  }

  .previous-page {
    margin-right: 0.5rem;
    svg {
      transform: rotate(90deg);
    }
  }

  .actions {
    display: flex;
    flex: 1;
    width: auto;
    flex-shrink: 0;

    & > * {
      flex-shrink: 0;

      & + * {
        margin-left: 0.5rem;
      }
    }
  }
}