@import 'reset';
@import 'colors';
@import 'grid';
@import 'typography';
@import 'button';
@import 'action-bar';
@import 'button-group';
@import 'auto-complete';
@import 'confirm-button';
@import 'copy-field';
@import 'check-box';
@import 'create-button';
@import 'currency-field';
@import 'text-field';
@import 'dialog-box';
@import 'lazy-image';
@import 'date-field';
@import 'form-for';
@import 'map-dialog';
@import 'navigation-bar';
@import 'pop-over';
@import 'progress-bar';
@import 'password-field';
@import 'search-field';
@import 'sortable-list';
@import 'select-field';
@import 'spinner';
@import 'snack-bar';
@import 'submit-button';
@import 'tabular-list';
@import 'text-editor';
@import 'tool-tip';
@import 'upload-field';
@import 'url-field';

* {
  box-sizing: border-box;
}

html {
  @extend .serif;
  font-size: 16px;
  line-height: 1.25rem;
}

.noscroll {
  overflow: hidden;
}

.text-area {
  @extend .text-field;
}

.number-field {
  @extend .text-field;
}

.datetime-field {
  @extend .date-field;
}

a {
  color: $accent;
  touch-action: manipulation;
}

.liquid-container:not(.liquid-animating) {
  &,
  .liquid-child {
    overflow: visible;
  }
}

@keyframes hop {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(3px);
  }

  40% {
    transform: translateY(-3px);
  }

  60% {
    transform: translateY(0);
  }
}

.bounce circle {
  animation: hop 1s ease infinite;

  &:nth-of-type(1) {
    animation-delay: .1s;
  }

  &:nth-of-type(2) {
    animation-delay: .2s;
  }
}

$green: #00D925;
$red: #FF0052;
$yellow: #FFF500;

section,
section.container {
  margin-bottom: 3rem;
}

h2 {
  font-size: 1.3rem;
  font-weight: 800;
}

h3 {
  font-size: 1.2rem;
  font-weight: 800;
}

.dialog-box {
  .mobiledoc-editor__editor > p {
    padding: 0;
  }
}

#home .sortable-list {
  margin-bottom: 0;
}

#home .item {
  grid-template-columns: 2fr 1fr;
}

p ul li {
  list-style: disc;
  margin-left: 1rem;
  margin: 0.5rem 0 0.5rem 1rem;
}

.logo {
  position: absolute;
  top: -1.5rem;
  left: -1.5rem;
  max-width: 100%;
  height: 10rem;
  pointer-events: none;
}

.error {
  background: $red;
  color: $white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}

header nav {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container {
  padding: 0 1rem;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

#login {
  margin: 9rem auto 0;
  max-width: 27rem;
  width: 100%;
  padding: 0 1rem;

  & > button {
    width: 100%;
    display: flex;
    align-content: space-around;
  }

  .create-button button:not(.icon) {
    width: 100%;
  }

  footer {
    display: flex;
    margin-top: 1rem;
  }
}

#people .item {
  grid-template-columns: 1fr 1fr;
  &.mobile {
    grid-template-columns: 1fr;
  }
}


#locations .item {
  grid-template-columns: 40% 30% 16% 14%;
  &.mobile {
    grid-template-columns: auto auto 1fr;
    .name {
      grid-column: span 3;
      overflow: hidden;
      max-width: calc(100vw - 2rem);
    }
    .city:after {
      content: ',';
    }
    .city, .region-code {
      padding-left: 0.4rem;
    }
  }
}

#locations li .region-code {
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-variant-caps: all-small-caps;
}

#ledger .item {
  grid-template-columns: 2fr 1fr 2fr 5rem;

  &.mobile {
    grid-template-columns: auto 1fr auto;

    .paid-by {
      grid-column: span 2;
      text-align: right;
      padding-left: 0.5rem;
    }
    .amount-paid {
      text-align: right;
    }
  }

  .amount-paid {
    &.iou:before {
      background: $yellow;
    }

    &.debit:before {
      background: $red;
    }

    &.credit:before {
      background: $green;
    }

    &:before {
      content: ' ';
      position: absolute;
      left: 0px;
      width: 6px;
      top: 0px;
      bottom: 0px;
    }
  }
}

#events > header > div {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-column-gap: 0.5rem;
}

#events .event-planner {
  height: 100vh;
}

#event .search-field {
  margin-top: 1rem;
}

.bulk-actions {
  background: $grey;
  position: sticky;
  top: 0;
  z-index: 2;

  .action-bar {
    padding-top: 0;
  }

  .container {
    padding: 1rem;
  }
}

.bulk-actions + .sortable-list header {
  transition: all 250ms;
}

.bulk-actions.open + .sortable-list header {
  top: 4rem;
}

#events .item {
  grid-template-columns: 2rem 60% 40%;
  
  .checkbox, .check-box {
    overflow: visible;
  }

  &.mobile {
    grid-template-columns: 2rem 1fr;

    .starts-at {
      grid-column: span 2;
      margin-left: 2rem;
    }
  }
}

label.submit-button {
  @extend a.submit-button;

  svg {
    padding-left: 0 !important;
    padding-right: 0.5rem;
  }
}

figcaption {
  font-size: 0.8rem;
}

#posts {
  li .item:not(.mobile) .channel-name > span {
    display: inline;
  }

  li .channel-name > span {
    color: $white;
    background: $black;
    padding: 0.1rem 0.5rem;
    border-radius: 4px;
  }

  .item {
    grid-template-columns: 1fr 1fr 1fr;
    
    &.mobile {
      grid-template-columns: 1fr;

      .channel-name {
        margin-top: 0.25rem;
        grid-column: span 2;
      }

      .published-at {
        grid-column: span 2;
      }
    }
  }
}

.text-editor nav {
  position: sticky;
  top: 0;
  z-index: 2;
}

.__mobiledoc-card .event-planner {
  height: 400px;
  width: 400px;
}


.event-planner {
  margin-bottom: 2rem;

  .ember-power-calendar {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    max-height: 800px;
  }

  .ember-power-calendar-nav {
    width: 100%;
    max-width: 800px;
  }

  select {
    @extend .serif;
    display: inline-block;
    line-height: 3rem;
    height: 3rem;
    font-size: 2rem;
    width: auto;
    background: $white;
    appearance: none;
    color: $black;
    box-shadow: none;

    &:hover {
      box-shadow: none;
    }
  }

  .ember-power-calendar-nav-control--previous svg {
    transform: rotateY(180deg);
  }

  button.ember-power-calendar-nav-control svg {
    width: 1.125rem;
    padding-right: 0;
  }

  .ember-power-calendar-days {
    display: grid;
    grid-template-rows: auto 1fr;
  }

  .ember-power-calendar-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  .ember-power-calendar-weekday {
    @extend .smcp;
    border: 1px solid $heather;
    border-width: 1px 1px 0 0;
    padding: 0.25rem 0.5rem;

    &:first-child {
      border-width: 1px 1px 0 1px;
    }
    &:last-child {
      border-width: 1px 1px 0 0;
    }
  }

  .ember-power-calendar-day-grid {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(3rem, 1fr));

    & > * {
      border: 0 solid $heather;
      border-width: 0 0 1px 0;

      &:first-child {
        border-width: 1px 0;
      }
    }
  }

  .ember-power-calendar-day {
    position: relative;
    height: 100%;
    width: 100%;
    appearance: none;
    background: $white;
    border: 0 solid $heather;
    border-width: 0 1px 0 0;

    &:first-child {
      border-width: 0 1px 0 1px;
    }

    .number {
      position: absolute;
      top: 0.1rem;
      left: 0.1rem;
      padding: 0.4rem;
      width: 1.75rem;
      height: 1.75rem;
      line-height: 1rem;
      text-align: center;
    }

    ul {
      position: absolute;
      top: 2rem;
      bottom: 0;
      left: 0.25rem;
      right: 0.25rem;
    }

    li {
      border-radius: 4px;
      padding: 0.25rem 0;
      max-width: 100%;
      background: $black;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    a {
      text-decoration: none;
      color: $white;

      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .ember-power-calendar-day--today {
    .number {
      background: $accent;
      color: $white;
      border-radius: 0.875rem;
    }

    a {
      background: $accent;
    }
  }
}

.action-bar {
  padding-top: 1rem;
  max-width: 100vw;

  .container {
    margin-bottom: 0.25rem;
  }
}

.ember-application > div {
  display: grid;
  grid-template-rows: auto auto 1fr;
  min-height: 100vh;
}

.purchases .item {
  grid-template-columns: 2fr 2fr 1fr;

  &.mobile {
    grid-template-columns: 1fr 2rem;

    .paid-by-name {
      grid-column: span 2;
    }
  }
}

nav .create-button,
.dialog-box .create-button {
  margin: 0;
}

#authorizations {
  header {
    line-height: 1rem;
  }
  ol .avatar {
    position: relative;
    height: 100%;

    img {
      position: absolute;
      top: calc(50% - 1.25rem);
      width: 2rem;
      height: 2rem;
      border-radius: 1rem;
      background: $heather;
      overflow: hidden;
    }
  }

  .item {
    grid-template-columns: 3rem 1fr 1fr 3rem;

    &.mobile {
      grid-template-columns: 3rem 1fr 3rem;

      .avatar {
        overflow: visible;
        top: 1rem;
      }
      .email {
        grid-column: span 2;
      }
      .provider {
        margin-left: 3rem;
        grid-column: span 2;
      }
      .delete {
        position: absolute;
        top: 1rem;
        right: 1rem;
      }
    }
  }

  .delete {
    position: relative;
    overflow: visible;

    button {
      position: relative;
      top: -0.75rem;
      padding: 0 0.75rem;
    }
  }
}

#public-keys {
  .item {
    grid-template-columns: 1fr 1fr 1fr 3rem;

    &.mobile {
      grid-template-columns: 1fr 4rem;

      .name,
      .last-used-at {
        grid-column: span 2;
      }
      .delete {
        position: absolute;
        top: 1rem;
        right: 1rem;
      }
    }
  }

  .delete {
    position: relative;
    top: -0.9rem;
    overflow: visible;

    button {
      padding: 0.2rem 0.4rem;
    }
  }
}

.sortable-list header > .item,
.sortable-list ol li > .item {
  max-width: calc(800px - 2rem);
}

.sortable-list ol li {
  position: relative;
}

.status {
  border-radius: 1rem;
  width: 1rem;
  height: 1rem;
  background: $heather;

  &.active {
    background: $green;
  }
}

#ticket {
  .events .item {
    grid-template-columns: 1fr 1fr;
  }
  .payments .item {
    grid-template-columns: 1fr 1fr 10rem;
  }
}

.stubs {
  .item {
    grid-template-columns: 2rem 1fr 1fr 1fr;
  }
  .attended {
    text-overflow: clip;
    padding-left: 5px;
    width: 35px;
    position: relative;
    top: 2px;

    span {
      overflow: visible;
      text-overflow: inherit;
    }
  }
}

.builds .item {
  grid-template-columns: 1fr 1fr 8rem;

  &.mobile {
    grid-template-columns: 1fr;
  }

  .deployed-by-name {
    &.active:before {
      background: $green;
    }

    &.inactive:before {
      background: $heather;
    }

    &:before {
      content: ' ';
      position: absolute;
      left: 0px;
      width: 6px;
      top: 0px;
      bottom: 0px;
    }
  }
}

.findTickets, .findEvents, .findPeople, .changeGroup, .findChannels, .findPosts {
  .item {
    grid-template-columns: 2rem 1fr 1fr;

    &.mobile {
      grid-template-columns: 2rem 1fr;
    
      .cost, .starts-at, .email, .published-at, .slug {
        grid-column: span 2;
        margin-left: 2rem;
      }
    }
  }
  .check-box {
    position: relative;
    top: 3px;
    overflow: visible;
  }
}

.findLocation {
  .item {
    grid-template-columns: 2rem 4fr 3fr 2fr 1fr;

    &.mobile {
      grid-template-columns: 2rem auto auto 1fr;
    
      .name {
        grid-column: span 3;
        overflow: hidden;
        max-width: calc(100vw - 2rem);
      }
      .city:after {
        content: ',';
      }
      .city, .region-code {
        padding-left: 0.4rem;
      }
    }
  }
  .check-box {
    position: relative;
    top: 3px;
    overflow: visible;
  }
}

#tickets {
  header .is-active {
    display: inline-block;
  }

  .is-active {
    width: 2rem;
  }

  .item {
    grid-template-columns: 1fr 5rem 5rem;

    &.mobile {
      grid-template-columns: 1fr 5rem;

      .cost {
        text-align: right;
      }
    }
  }

  ol .description {
    &.active:before {
      background: $green;
    }

    &.inactive:before {
      background: $heather;
    }

    &:before {
      content: ' ';
      position: absolute;
      left: 0px;
      width: 6px;
      top: 0px;
      bottom: 0px;
    }
  }
}

#ledger .balance-bar {
  position: sticky;
  top: 0;
  margin-top: 1rem;
  z-index: 2;
}

.balance-bar {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;

  .container > div {
    width: 100%;
  }

  &.positive {
    background: $green;
    color: $black;
  }

  &.low {
    background: $yellow;
    color: $black;
  }

  &.negative {
    background: $red;
    color: $white;
  }

  & + .sortable-list header {
    top: 2rem;
  }
}

.dialog-box header > .submit-button {
  line-height: 1.25rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: $accent;

  svg {
    top: 0;
    margin-right: 0;
  }
}

.find-photo-dialog .photo-grid {
  margin-left: 6px;
  width: calc(100% - 12px);
}

#photos {
  width: 100vw;
  overflow: hidden;

  .dropzone-backdrop {
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 2;
    background: $accent;
    color: $white;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    font-size: 1.5rem;

    span {
      margin: 0 auto;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
    path {
      fill: $white;
    }
  }
  
  .photo-grid {
    margin-left: 1rem;
    width: calc(100vw - 2rem);
  }

  .photo img {
    box-shadow: 0 0 0 2px $white;
  }

  .photo:hover img {
    box-shadow: 0 0 0 2px $accent;
  }
}

#photo {
  img {
    max-width: 100%;
  }
  .grid-column {
    align-content: start;
  }
}

.add-embed-dialog .create-button button:not(.icon) {
  width: 100%;
}

.photo-grid {
  .photo-grid-row {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    justify-content: space-between;

    &:last-of-type {
      margin-bottom: 0.5rem;
    }
  }

  .photo {
    display: flex;
    position: relative;
  
    a, label {
      display: grid;
    }

    &.selected img {
      outline: 2px solid rgba($accent, 0.5);
    }

    .check-box {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      z-index: 2;
    }
  }
}

.back-link {
  display: block;
  color: $black;
  padding-left: 2rem;
  line-height: 2rem;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  svg {
    position: absolute;
    left: 0.3rem;
    top: 0.3rem;
    transform: rotate(90deg);
  }
}

.text-block {
  background: white;
  display: block;
  font-weight: bold;
  color: $black;
  padding-left: 1rem;
  line-height: 2rem;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 2;
}

.form-for_field .check-box {
  margin: 0;

  label {
    margin-bottom: 0;
  }
}
