.save-indicator {
  margin: 1rem 0;

  button {
    font-variant-caps: normal;
    font-weight: normal;
    letter-spacing: 0;
    font-size: 1rem;
  }

  .pop-over {
    white-space: nowrap;
  }
}

.form-for .form-for {
  display: flex;
  flex-direction: row;

  & > *:not(.remove-item) {
    flex: 1;
    margin-right: 0.75rem;
  }
}

@media(max-width: 500px) {
  .form-for-nav {
    flex-direction: column;
  }
}

.remove-item {
  position: relative;
  top: 1.5rem;
  border-radius: 1rem;
  vertical-align: bottom;
  height: 2rem;
  width: 2rem;
  background: $black;
  border: 0;
  box-shadow: 0 1px 2px 1px rgba($black, 0.20);
  transition-property: background, padding, box-shadow, color, border, border-color, transform;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.79, 0.14, 0.15, 0.86);
  outline: none;

  &:hover:not(:disabled) {
    box-shadow: 0 2px 4px 2px rgba($black, 0.2);
  }

  &:focus {
    background: $accent;
  }

  &:active:not(:disabled) {
    transform: translateY(1px);
    transition-duration: 80ms;
    box-shadow: 0 0 0 0 rgba($black, 0.2);
  }

  svg {
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    fill: $white;
  }
}

.form-for_field {
  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  .check-box + label {
    vertical-align: top;
    display: inline-block;
    margin-left: 0.1rem;
    margin-top: 0.3rem;
  }

  &.has-autocompletion .field {
    position: relative;

    input {
      padding-left: 2.25rem;
    }

    .autocomplete {
      position: absolute;
      top: 0.3rem;
      left: 0.5rem;

      &:hover svg {
        fill: $grey;
      }
      &:active svg {
        fill: $accent;
      }
    }
  }
}
