.row {
  display: flex;
  flex-direction: row;

  & > * {
    margin: 0 0.25rem;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.column {
  display: flex;
  flex-direction: column;

  & > * {
    margin: 0.25rem 0;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.reverse-row {
  display: flex;
  flex-direction: row-reverse;

  & > * {
    margin: 0 0.25rem;
    &:first-child {
      margin-right: 0;
    }
    &:last-child {
      margin-left: 0;
    }
  }
}

.grid-row {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-column {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: repeat(auto-fit, 1fr);
  align-content: start;

  & > * {
    margin: 0;
  }
}
