.lazy-image {
  position: relative;

  &.loading {
    background: #EEE;
  }

  svg {
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
  }

  img {
    opacity: 0;
    transition: opacity 200ms;

    &.loaded {
      opacity: 1;
    }
  }
}