.text-field {
  width: 100%;

  textarea, input {
    @extend .sans-serif;
    appearance: none;
    background: $white;
    border: 2px solid rgba(204, 204, 204, 0);
    font-size: 1rem;
    color: #111111;
    line-height: 1.5rem;
    border-radius: 4px;
    box-shadow: 0 1px 2px 1px rgba(5, 5, 5, 0.2);
    resize: none;
    transition-property: padding, box-shadow, color, border;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.79, 0.14, 0.15, 0.86);
    padding: 0.2rem 0.5rem;
    margin: 0;
    width: 100%;
    touch-action: manipulation;

    &:disabled {
      border: 1px solid $heather;
      box-shadow: none;
    }

    &:focus {
      box-shadow: 0 2px 4px 2px rgba(5, 5, 5, 0.2);
      border: 2px solid $accent;
      outline: none;
    }
  }
}