{{#each rows key="@index" as |row|}}
  <div class="photo-grid-row">
    {{~#each row.photos key="photo.id" as |cell|~}}
      <div class="photo">
        {{~yield cell.photo cell.width row.height~}}
      </div>
    {{~/each~}}
  </div>
{{/each}}