{{#each rows key="@index" as |row|}}
  <div class="photo-grid-row">
    {{~#each row.photos key="photo.id" as |cell|~}}
      <div class="photo">
        {{#if cell.isPlaceholder}}
          <div class="lazy-image loading" style="width: {{cell.width}}px; height: {{row.height}}px;"></div>
        {{else}}
          {{~yield cell.photo cell.width row.height~}}
        {{/if}}
      </div>
    {{~/each~}}
  </div>
{{/each}}
