{{#each rows as |row|}}
  <div class="photo-grid-row">
    {{~#each row.photos as |cell|~}}
      {{#animated-container class='photo'}}
        {{#animated-value cell.photo duration=300 use=transition as |p|}}
          {{~yield p cell.width row.height~}}
        {{/animated-value}}
      {{/animated-container}}
    {{~/each~}}
  </div>
{{/each}}