{{#each rows as |row|}}
  <div class="photo-grid-row">
    {{~#each row.photos as |cell|~}}
      <div class="photo">
        {{~yield cell.photo cell.width row.height~}}
      </div>
    {{~/each~}}
  </div>
{{/each}}