{{#each rows key="@index" as |row|}}
  <div class="photo-grid-row">
    {{~#each row.photos key="photo.id" as |cell|~}}
      <div class="photo {{if (contains selection cell.photo) 'selected'}}">
        {{#if cell.isPlaceholder}}
          {{lazy-image src=payload.url width=cell.width height=row.height}}
        {{else}}
          {{~yield cell.photo cell.width row.height~}}
        {{/if}}
      </div>
    {{~/each~}}
  </div>
{{/each}}
