{{title session.currentGroup.name replace=true}}
<nav>
  {{#link-to 'admin.group' session.currentGroup}}My Group{{/link-to}}
  {{#link-to 'admin.posts'}}Posts{{/link-to}}
  {{#link-to 'admin.events'}}Events{{/link-to}}
  {{#link-to 'admin.tickets'}}Tickets{{/link-to}}
  {{#link-to 'admin.ledger'}}Ledger{{/link-to}}
  {{#link-to 'admin.people'}}People{{/link-to}}
  {{#link-to 'admin.locations'}}Locations{{/link-to}}
  {{#submit-button onsubmit=(route-action 'logout')}}
    Logout
  {{/submit-button}}
</nav>
{{outlet}}