{{#power-calendar center=center
  navComponent=(component 'event-planner/nav')
  onCenterChange=(action (mut center) value='date')
  onSelect=onselect as |calendar|}}
  {{calendar.nav}}
  {{#calendar.days as |day|}}
    <span class="number">
      {{day.number}}
    </span>
    <ul>
      {{#each (get eventsByDay day.number) as |event|}}
        <li>{{yield event}}</li>
      {{/each}}
    </ul>
  {{/calendar.days}}
{{/power-calendar}}
