{{#power-calendar center=center
  navComponent=(component 'event-planner/nav')
  onCenterChange=(action (mut center) value='date')
  onSelect=onselect as |calendar|}}
  {{calendar.nav}}
  {{#calendar.days as |day|}}
    <span class="number">
      {{day.number}}
    </span>
    <ul>
      {{#each events as |event|}}
        {{#if (is-same-day event.startsAt day.moment)}}
          <li>{{yield event}}</li>
        {{/if}}
      {{/each}}
    </ul>
  {{/calendar.days}}
{{/power-calendar}}
