.find-event-dialog {
  header, ol li {
    padding-left: 0;
  }

  .loading {
    position: absolute;
    background: rgba($white, 0.5);
    left: 0;
    right: 0;
    height: 100%;
    text-align: center;
    padding-top: 5rem;
  }

  ol li > span {
    vertical-align: top;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .checkbox {
    text-overflow: clip;
    padding-left: 5px;
    width: 35px;
    position: relative;
    top: 2px;

    span {
      overflow: visible;
      text-overflow: inherit;
    }
  }
  .title {
    width: calc(60% - 20px);
    span {
      text-overflow: ellipsis;
    }
  }
  .date {
    width: calc(40% - 15px);
  }
}
