.find-ticket-dialog {
  ol li span {
    vertical-align: top;
  }
  .checkbox {
    text-overflow: clip;
    padding-left: 5px;
    width: 35px;

    span {
      overflow: visible;
      text-overflow: inherit;
    }
  }
  .description {
    width: calc(100% - 100px);
  }
  .cost {
    width: 65px;
  }
}
