{{#animated-container class="container" click=(action (mut isShowingCalculations) (not isShowingCalculations))}}
  <div>
    Balance {{l 'currency' balance.amount currency=balance.currency}}
  </div>

  {{#animated-if isShowingCalculations duration=200}}
    <div>
      {{l 'currency' credit.amount currency=credit.currency}} + {{l 'currency' debit.amount currency=debit.currency}} = {{l 'currency' balance.amount currency=balance.currency}}
    </div>
  {{/animated-if}}
{{/animated-container}}
