<section id="photos">
  {{#file-dropzone name=(concat 'event-' model.id) as |dropzone|}}
    {{#if (await model.eventPhotos)}}
      <nav class='row'>
        {{#file-upload name=(concat 'event-' model.id)
                       onfileadd=(route-action 'addPhoto' model)
                       accept='image/*'
                       multiple=true
                       class='submit-button'}}
          {{icon "photo"}} Add Photos
        {{/file-upload}}
      </nav>
    {{/if}}

    {{#each (await model.eventPhotos) as |photo|}}
      {{photo-field value=photo
        name=(concat 'eventPhotos/' photo.id)
        onchange=(route-action 'save')}}
    {{else}}
      {{#file-upload name=(concat 'event-' model.id)
                     onfileadd=(route-action 'addPhoto' model)
                     accept='image/*'
                     multiple=true
                     class='submit-button'}}
        {{icon "photo"}} Add Photos
      {{/file-upload}}
    {{/each}}
  {{/file-dropzone}}
</section>
