<h3><strong>{{person.name}}</strong></h3>
{{#if person}}
  {{post-body mobiledoc=person.mobiledoc tagName='' cardNames=(list 'youtube' 'photo' 'ticke\
t' 'itinerary' 'person' 'location') atomNames=(list 'line-break')}}
{{/if}}