.manage-builds-dialog {
  .tabular-list {
    header, ol {
      width: 28rem;
      max-width: calc(100vw - 4rem);
    }
  }

  ol li span {
    vertical-align: top;
  }
  .deployed-by {
    width: calc(40% - 20px);
  }
  .live-at {
    width: calc(60% - 100px);
  }
  .changes {
    width: 120px;
  }

  .status {
    position: relative;
    top: 0.65rem;
    margin-right: 0.25rem;
  }
}
