.manage-builds-dialog {
  .tabular-list {
    header, ol {
      width: 28rem;
      max-width: calc(100vw - 4rem);
    }
  }
  header, ol li {
    padding-left: 0;
  }

  ol li span {
    vertical-align: top;
  }
  .deployed-by {
    width: calc(50% - 20px);
  }
  .live-at {
    width: calc(50% - 100px);
  }
  .changes {
    width: 120px;
  }
}
