<nav class="ember-power-calendar-nav" id="event-planner">
  {{#if hasBlock}}
    {{yield calendar}}
  {{else}}
    {{#select-field options=months value=(moment-format calendar.center "MMMM") onchange=(action jumpTo 'month' calendar) as |option|}}
      {{option}}
    {{/select-field}}
    {{#select-field options=years value=(moment-format calendar.center "YYYY") onchange=(action jumpTo 'year' calendar) as |option|}}
      {{option}}
    {{/select-field}}
  {{/if}}
</nav>